html {
  background-color: cornsilk;
}

.name {
 padding-bottom: 1%;
 padding-left: 0%;
 padding-right: 0%;
 font-size: 300%;
 border-bottom: none;
 font-family:Helvetica;
 
}

body {
  text-align: center;
  font-size: 120%;
  font-family: Arial;
}

div {
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-bottom: solid;
  max-width: 50%;
  margin: auto;
}

div.contacts {
  max-width: 50%;
  padding-bottom: 1%;
  font-size: 50%;
  border: dotted;
}

div.work {
  font-weight: bold;
  font-size: 150%;
}

div.contacts:hover {
  font-size: 100%;
}


img {
  border-radius: 50%;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: auto;
  opacity: 0.75;
}

 div.place-name {
  font-weight: bold;
  font-size: 115%;
  border: none;
  padding-top: 5%;
}

ul {
  list-style-type:none;
}

p {
  letter-spacing: 2px;
  word-spacing: 1px;
}
